<table class="table table-striped">
    <tr>
        <th>#</th>
        <th></th>
        <th>pnt</th>
        <th>JPP</th>
        <th>+</th>
        <th>tot</th>
    </tr>
    {% for member in site.data.ranking %}
        <tr>
            <td>{{ member.positie }}.</td>
            <td><a href="{{ site.baseurl }}{% link index.html %}ploegleiders/{{ member.short | downcase }}.html">
                {{ member.ploegleider }}
                </a></td>
            <td>{{ member.punten }}</td>
            <td>{{ member.JPP }}</td>
            <td>{{ member.bonus }}</td>
            <td>{{ member.totaal }}</td>
        </tr>
    {% endfor %}
</table>
