a {
    color: inherit;
    text-decoration: none;
  }
  a:hover {
    color: #0a58ca;
    text-decoration: underline;
  }
  
  a:not([href]):not([class]), a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none;
  }

.bg-image-full {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
  }  

  .clickable-month {
    cursor: pointer;
    margin: 0 25px;  /* Adjust the margin as needed */
  }

/* Change cursor to pointer for clickable headers */
th[onclick] {
  cursor: pointer;
}

/* Add hover effect */
th[onclick]:hover {
  background-color: #f2f2f2;
}

.sort-up::before {
  content: "▲";
}

.sort-down::before {
  content: "▼";
}

.flex-container {
  display: flex;
  justify-content: space-between;
}


/* Footer */
/* Custom background color */
.bg-dark-blue {
  background-color: rgb(31, 41, 55);
}

/* Light-colored links */
.footer-link {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

/* Hover effect */
.footer-link:hover {
  color: rgba(255, 255, 255, 1);
  text-decoration: underline;
}

/* chord diagram */
.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.legend-color {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.legend-label {
  font-size: 16px;
}
