<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "nl" }}">

  <head>
    <title>Wielerspel 2023</title>
    <link rel="stylesheet" href="/assets/css/style.css"">
  </head>

  <body>



    <main class="page-content" aria-label="Content">
      <div class="wrapper">
       <table name="navigation">
            <tr>
                               <td><a href="index.html">Stand</a></td>
                               <td><a href="ploegen.html">Ploegen</a></td>
                               <td><a href="uitslagen.html">Uitslagen</a></td>
            </tr>
        </table>
                                                           <center>{{ content }}</center>
      </div>
    </main>



  </body>

</html>
